@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,300;1,900&display=swap");
:root {
  --back-color: rgb(54, 54, 54);
  --nav-color:rgb(44, 43, 43);
  --font-color: white;
  --style-color: gold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--font-color);
  color: var(--font-color);
  font-size: 14px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  min-width: 280px;
  width: 100vw;
  max-width: 2400px;
  background-color: var(--back-color);
  margin: 0 auto;
  text-align: center;
}

.layout {
  width: 100vw;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5em;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 99;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .header__ul {
  height: 100vh;
  width: 100%;
  -webkit-transition: left 0.5s linear;
  transition: left 0.5s linear;
  position: absolute;
  top: 5em;
  left: -100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em 0 10em;
  background-color: var(--nav-color);
  -webkit-animation: nav-anime .5s  .1s;
          animation: nav-anime .5s  .1s;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

nav .header__ul li {
  font-size: 1.5em;
}

nav .header__ul a {
  color: var(--font-color);
  padding: .5em 1em;
  border-radius: 10px;
}

nav .header__logo, nav .toggle__bar {
  font-size: 1.3em;
  cursor: pointer;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

nav .toggle__bar:hover {
  color: var(--style-color);
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

@-webkit-keyframes nav-anime {
  from {
    left: -100%;
  }
  to {
    left: -0%;
  }
}

@keyframes nav-anime {
  from {
    left: -100%;
  }
  to {
    left: -0%;
  }
}

nav .nav-item .active {
  color: var(--style-color);
}

nav .show {
  left: -0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 99;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--nav-color);
  min-height: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__links li {
  padding: .5em .6em;
  font-size: 1.5em;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

footer .footer__links li:hover {
  color: var(--style-color);
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

footer .copyright {
  font-size: 1.2em;
  padding-bottom: .5em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about section {
  min-height: 50vh;
  padding: 0 1.5em;
  width: 100%;
}

.about .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background-image: url("./aboutBack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--back-color);
}

.about .one span {
  font-size: 1.25em;
  color: var(--style-color);
}

.about .one strong {
  letter-spacing: .18em;
}

.about .one h3 {
  font-size: 1em;
  font-weight: bolder;
  letter-spacing: .08em;
}

.about .two h3 {
  font-size: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  padding-top: 1em;
}

.about .two p {
  padding: 1.5em .2em;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 1em;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 1em;
}

.about .two .home__image {
  margin: 0 auto;
  position: relative;
  height: 17em;
  width: 17em;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--nav-color);
}

.about .two .home__image img {
  position: absolute;
  top: 0;
  left: 1em;
}

.about .two h4 {
  font-size: 1.5em;
  margin-top: 1em;
  word-spacing: .2em;
  text-align: center;
  letter-spacing: .12em;
}

.about .two h5 {
  font-size: 1.1em;
  text-align: center;
}

.about .two .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  min-height: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  text-align: center;
  margin: 1em auto;
}

.about .two .social-media li {
  font-size: 1.5em;
  padding: .5em 1em;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.about .two .social-media li:hover {
  color: var(--style-color);
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.about .three {
  min-height: 40vh;
}

.about .three .dummy-one, .about .three .dummy-two {
  font-size: .8em;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
  height: 40vh;
}

.about .three .big {
  min-height: 22em;
  padding: 2em 0;
  border-radius: 20px;
  background-color: var(--nav-color);
}

.about .three .small {
  height: 25vh;
  width: 90%;
  background-color: var(--back-color);
  border: var(--nav-color) solid 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.2em .3em;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .three .small h3 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: var(--style-color) solid 2px;
  border-radius: 10px;
  padding-bottom: .2em;
}

.about .three .small h4 {
  border: 2px solid var(--style-color);
  padding: 0.6em 0.8em;
  border-radius: 10px;
  background-color: var(--nav-color);
  color: var(--style-color);
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.about .three .small h4:hover {
  background-color: var(--style-color);
  color: var(--font-color);
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.portfolio {
  width: 100%;
  background-color: var(--back-color);
  text-align: center;
}

.portfolio .page {
  min-height: 50vh;
  padding: 0 1.5em;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
}

.portfolio .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./portfolioBacks.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--back-color);
}

.portfolio .first h2 {
  margin-top: 4em;
  font-size: 1.3em;
  margin-bottom: 5em;
  color: var(--style-color);
}

.portfolio h1 {
  padding: .6em 0;
}

.portfolio .samples .image {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  height: 15em;
  width: 100%;
  position: relative;
}

.portfolio .samples .image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 15em;
  width: 100%;
}

.portfolio .samples h4 {
  padding: 2em 0;
  color: var(--style-color);
  font-size: 1.1em;
}

.portfolio button {
  border: 2px solid var(--style-color);
  padding: 0.5em 0.8em;
  border-radius: 10px;
  outline: none;
  text-align: center;
  margin-top: .5em;
  font-size: 1.2em;
  font-weight: 700;
  background-color: var(--nav-color);
  color: var(--style-color);
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.portfolio button:hover {
  background-color: var(--style-color);
  color: var(--font-color);
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.services {
  width: 100%;
  background-color: var(--back-color);
  text-align: center;
}

.services h1 {
  padding: .6em 0;
}

.services .page {
  min-height: 40vh;
  padding: 0 1.5em;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
}

.services .one, .services .two, .services .three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./serviceBack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--back-color);
}

.services .first h2 {
  margin-top: 4em;
  font-size: 1.3em;
  margin-bottom: 4em;
  color: var(--style-color);
}

.services .samples .image {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  height: 15em;
  width: 100%;
  position: relative;
}

.services .samples .image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.services .samples h4 {
  padding: 2em 0;
  font-size: 1.1em;
}

.services .samples #foot {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  font-size: 1em;
  color: var(--style-color);
}

.testimonial {
  width: 100%;
  background-color: var(--back-color);
  text-align: center;
}

.testimonial .page {
  min-height: 40vh;
  padding: 0 1.5em;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
}

.testimonial .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./testimony.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--back-color);
}

.testimonial .one h2 {
  margin-top: 4em;
  font-size: 1.3em;
  margin-bottom: 4em;
  color: var(--style-color);
}

.testimonial h1 {
  padding: .6em 0;
}

.testimonial blockquote {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  font-size: 3em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: .5em;
}

.testimonial h5 {
  color: var(--style-color);
  text-align: right;
  margin-top: 6em;
}

@media screen and (min-width: 500px) {
  body {
    font-size: 16px;
  }
  .testimonial h1 {
    padding-top: 1.5em;
  }
}

@media screen and (min-width: 700px) {
  .portfolio .page, .services .page, .testimonial .page {
    min-height: calc(100vh - 5em);
  }
  .portfolio .one, .portfolio .first, .services .one, .services .first, .testimonial .one, .testimonial .first {
    font-size: 2em;
  }
  .portfolio .one h2, .portfolio .first h2, .services .one h2, .services .first h2, .testimonial .one h2, .testimonial .first h2 {
    margin-top: 6em;
  }
  .portfolio .one button, .portfolio .first button, .services .one button, .services .first button, .testimonial .one button, .testimonial .first button {
    font-size: 1em;
  }
  .about .page {
    min-height: calc(100vh - 5em);
  }
  .about .one h2 {
    margin-top: -4em;
  }
  .about .one span {
    font-size: 2.7em;
  }
  .about .one h3 {
    font-size: 1.5em;
    letter-spacing: .3em;
    margin-top: -5em;
  }
  .about .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 90vw;
  }
  .about .grid-one {
    width: 100%;
  }
  .about .grid-one p {
    height: 50vh;
    text-align: left;
    width: 100%;
    padding: 2em 1em;
    font-size: 1.8em;
    overflow: hidden;
    -webkit-transition: .5s linear all;
    transition: .5s linear all;
  }
  .about .grid-one p:hover {
    color: var(--nav-color);
    background-color: var(--font-color);
    -webkit-transition: .5s linear all;
    transition: .5s linear all;
  }
  .about .grid-one h3 {
    text-align: left;
    font-size: 1.7em;
    letter-spacing: .1em;
  }
  .about .grid-two {
    width: 100%;
  }
  .about .grid-two .home__image img {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .about .grid-two h4 {
    font-size: 1.8em;
  }
  .about .grid-two h5 {
    font-size: 1.2em;
  }
  .three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
  }
  .three .dummy-one, .three .dummy-two {
    max-width: 90vw;
  }
  .portfolio .two, .portfolio .six, .portfolio .four {
    padding-top: 1em;
    font-size: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .two .image, .portfolio .six .image, .portfolio .four .image {
    height: 50vh;
    width: 70vh;
  }
  .portfolio .two .image img, .portfolio .six .image img, .portfolio .four .image img {
    height: 100%;
  }
  .services .one, .services .two, .services .three {
    padding-top: 1em;
    font-size: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services .one .image, .services .two .image, .services .three .image {
    height: 50vh;
    width: 70vh;
  }
  .services .one .image img, .services .two .image img, .services .three .image img {
    height: 100%;
  }
  .testimonial .two {
    padding: 1em 5em 0;
    font-size: 1.5em;
  }
  .testimonial .two blockquote {
    font-size: 4em;
    padding-top: .1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 1050px) {
  header {
    padding: 0 5em;
  }
  body {
    font-size: 12px;
  }
  .header__toggle {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .header__ul {
    height: 100%;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: unset;
  }
  nav li {
    font-size: 1.2em;
    margin-left: 2.5em;
  }
  nav a {
    color: var(--font-color);
    padding: 1em 1em;
    border-radius: 10px;
  }
  .about .three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .three .dummy-one, .about .three .dummy-two {
    height: 60vh;
    width: 40%;
  }
  .portfolio section {
    height: calc(100vh - 3em);
  }
  .portfolio .first h2 {
    margin-top: 3em;
  }
  .portfolio .first h3 {
    margin-top: -2em;
  }
  .portfolio .first button {
    font-size: .7em;
  }
  .portfolio .samples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .portfolio .samples .image {
    height: 60vh;
    width: 50%;
  }
  .portfolio .samples .image:hover {
    -webkit-transform: skewY(5deg);
            transform: skewY(5deg);
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .portfolio .samples .sample {
    -ms-flex-item-align: start;
        align-self: flex-start;
    justify-self: flex-start;
    font-size: .8em;
    text-align: left;
    background-color: var(--nav-color);
    width: 50%;
    height: 60vh;
    margin-left: 1em;
    padding: 0 2em;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  }
  .portfolio .samples .sample:hover {
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .services section, .testimonial section {
    height: calc(100vh - 3em);
  }
  .services .first h2, .services .one h2, .testimonial .first h2, .testimonial .one h2 {
    margin-top: 4em;
  }
  .services .first h3, .services .one h3, .testimonial .first h3, .testimonial .one h3 {
    margin-top: -1em;
  }
  .services .samples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .services .image {
    width: 60%;
    height: 80%;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .services .image:hover {
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .services #foot {
    width: 50%;
    position: absolute;
    bottom: 1em;
    padding: 1em;
  }
  .services #main {
    background-color: var(--nav-color);
    height: 40%;
    margin-top: 5em;
    margin-left: 1em;
    padding: 2em 1em;
    font-size: .8em;
    width: 50%;
    text-align: left;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .services #main:hover {
    -webkit-transform: skewY(5deg);
            transform: skewY(5deg);
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 16px;
  }
  .portfolio .one, .portfolio .first, .services .one, .services .first, .testimonial .one, .testimonial .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 4em;
  }
}
/*# sourceMappingURL=index.css.map */